button{
  padding: 0.2em 0.7em;
  position: relative;
}

.code-container{
  position: relative;
  padding: 0.5em 1em;
  border: 1px solid #ccc;
  border-radius: 0.25em;
  margin-bottom: 1rem;
  margin-top: 1rem;
  background-color: #f5f5f5;
  overflow-x: scroll;
  transition: all 0.2s ease-in-out;

  &:hover {
    border-color: #aaa;
  }

  .copy-code-button {
    position: absolute;
    top: 0;
    right: 0;
    padding: 0.5rem;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 0.25rem;
    cursor: pointer;
    transition: all 0.2s ease-in-out;

    &:hover {
      background-color: #ccc;
    }
  }
}